* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: linear-gradient(135deg, #252545, #3f3c6e, rgb(160, 160, 160));
  min-height: 100vh;
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
  width: 100%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  body {
    min-height: 100vh;
  }
}
@media (max-width: 575px) {
  body {
    min-height: 100vh;
  }
}


.movieSwiper {
  width: 100%;
  height: 100%;
}

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.movie-content {
  padding: 10px;
}

.movie-title {
  font-size: 18px;
  font-weight: bold;
}

.movie-description {
  font-size: 14px;
  color: #555;
}

